/* 
LAYOUT
*/

.aboutMe {
	padding: 1.2em 1.8em;
}

.aboutMe__bio,
.aboutMe__goals,
.aboutMe__confidence,
.aboutMe__futureNote {
	margin-bottom: 0.8em;
}

.aboutMe__goals__list,
.aboutMe__confidence__list {
	padding-left: 1.6em;
}

/* 
TYPOGRAPHY
*/

.aboutMe__title {
	text-align: center;
	margin-bottom: 0.4em;
}

.subtitle {
	margin-bottom: 0.3em;
}

/* 
ASSET
*/

.hero-img {
	object-fit: cover;
	height: 500px;
	width: 1200px;
	margin-bottom: 1em;
}

/* 
DESKTOP
*/

@media (min-width: 1200px) {
	main {
		height: 100%;
		position: relative;
	}

	.main--grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.hero-img {
		height: 100vh;
		width: 49vw;
		margin-bottom: 0;
		object-fit: cover;
		position: fixed;
	}

	.aboutMe {
		width: 50vw;
	}

	.aboutMe__title {
		font-size: 3rem;
		padding: 0;
	}
}
