


/* 
GLOBAL
*/

body {
	font-size: 1.05rem;
	background-color: hsl(0, 6%, 90%);
	justify-content: center;
	align-items: center;
	margin: 1.5em 1.3em;
}

/* 
LAYOUT
*/

.profileCard {
	background-color: hsl(0, 0%, 100%);
	max-width: 31.25em /*500px*/;
	margin-top: 2em;
	padding: 1.6em 1.4em;
	border-radius: 15px;
}

.profileCard__data--grid {
	place-items: center;
}

.profileCard__data__socials {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid black;
}

.profileCard__data__socials--flex {
	flex-direction: row;
	gap: 1em;
}

.profileCard__hobbies-dislikes__hobbies {
	margin-bottom: 0.5em;
}

/* 
TYPOGRAPHY
*/

.profileCard__data__name {
	margin-bottom: 0.5em;
}

.profileCard__data__bio {
	text-align: center;
	margin-bottom: 2.4em;
}

.profileCard__currentTime__milliseconds {
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
	margin-bottom: 1em;
}

.profileCard__hobbies-dislikes__hobbies__item:nth-of-type(1),
.profileCard__hobbies-dislikes__dislikes__item:nth-of-type(1) {
	font-size: 1.2rem;
	font-weight: 600;
	list-style: none;
	margin-left: 0;
}

.profileCard__hobbies-dislikes__hobbies__item,
.profileCard__hobbies-dislikes__dislikes__item {
	margin-left: 1em;
}

/* 
ASSET
*/

.profileCard__data__avatar {
	border-radius: 50%;
	height: 310px;
	width: 315px;
	margin-bottom: 0.6em;
}

.profileCard__data__socials__list {
	list-style: none;
}

.fa-brands {
	color: black;
	font-size: 35px;
}

.fa-brands:hover,
.fa-brands:focus,
.fa-brands:active {
	color: orangered;
}

/* 
DESKTOP
*/

@media (min-width: 850px) {
	.profileCard {
		max-width: 43em;
		padding: 1.8em;
		font-size: 1.1rem;
	}

	.profileCard__data--grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.profileCard__data__socials {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}

	.profileCard__data__name {
		font-size: 2rem;
		text-align: center;
		margin-top: -1em;
	}

	.profileCard__data__bio {
		margin-top: -5em;
	}

	.profileCard__data__avatar {
		height: 250px;
		width: 260px;
	}

	.fa-brands {
		font-size: 40px;
	}

	.profileCard__hobbies-dislikes--flex {
		flex-direction: row;
		justify-content: space-between;
	}

	.profileCard__hobbies-dislikes__hobbies {
		border-right: 2px solid black;
		padding-right: 9em;
	}
}
